MAILTO=root
{% for key, job in borg_jobs.items() %}
{{ job.archive_rhythm }} root /usr/local/bin/borgenv "/etc/borgbackup/jobs/{{ key }}@{{ job.repository }}" create
{% if job.prune_rhythm | default(False) %}
{{ job.prune_rhythm }} root /usr/local/bin/borgenv "/etc/borgbackup/jobs/{{ key }}@{{ job.repository }}" prune
{% endif %}
{% endfor %}
